<html>
    <head>
        <title>kimcheesoo's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kim Cheesoo Blog</a></h1>
        </div>

        <div>
            <p>published: 11.Jan.2020</p>
            <h2><a href="">My first post</a></h2>
            <p>wohohohoho yeah hehehehe</p>
        </div>

        <div>
            <p>publisehd: 11.Jan.2020</p>
            <h2><a href="">My second post</a></h2>
            <p>yohohohoho whowowowowowo</p>
        </div>
    </body>
</html>
